page-writing-alphabets {

  .blackboard {
    border: 1px solid #000000;
    background: #000000;
    display: block;
    margin:auto;
  }
  .black-slate{
    @extend .blackboard;
  }
 
  .board-button-block{
    margin:30px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
}
