page-writing-alphabets {

  .ion-icon{
    font-size: 2.5em;
  }
  button{
    font-size: 1.5em;
  }
  .blackboard {
    border: 1px solid #000000;
    background: #000000;
    display: block;
    margin:auto;
  }
  .black-slate{
    @extend .blackboard;
  }
 
  .board-button-block{
    margin:30px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  .active-char{
    color: orangered;
    font-size: 25px;
  }
.audio-volume-off:before{
  opacity : 0.3;
}
}
